<!-- <% if (theme.duoshuo.enable && page.comments){ %>
<section class="comment">
	<div class="ds-thread"></div>
</section>
<% } %> -->

<% if (page.comments){ %>
<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>

  <% if (theme.comment_provider == "facebook") {
      if (theme.facebook) { %>
      <%- partial('_partial/facebook_comment', {fbConfig: theme.facebook}) %>
      <% } %>
  <% } else if(config.disqus_shortname) { %>
  <div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//tutusblog.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<%- partial('../google_analytics') %>
  <% } %>
</section>
<% } %>
